#banner {
  height: auto;
  width: 1200px;
  margin-left: 20px;
}

body {
  background-color: rgb(232, 227, 227);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  text-align: center;
  font-weight: 900;    
}

#container {
  display: flex;
  text-align: justify;
  border: 3px solid;
}

#container img {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height:auto;
  width: 250px;
}

#container p {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.rights-link {
  font-size: 8px;
}

ol > li {
  margin-bottom: 20px;
}

a {
  text-decoration:underline;
  color:black;
}